<!DOCTYPE html>
<html lang="en">
	<head>
		<title>Admin UI Interface</title>
		<module href="/components/head.html"></module>
	</head>
	<body>
		<header>
			<div class="logo">
				<img src="./images/logomark_double.svg" alt="logo" /><span class="logo__text"
					>TProjects</span
				>
			</div>
			<button class="add">
				<svg
					width="24"
					height="24"
					viewBox="0 0 24 24"
					fill="none"
					xmlns="http://www.w3.org/2000/svg"
				>
					<path
						fill-rule="evenodd"
						clip-rule="evenodd"
						d="M13 5C13 4.44772 12.5523 4 12 4C11.4477 4 11 4.44772 11 5V11H5C4.44772 11 4 11.4477 4 12C4 12.5523 4.44772 13 5 13H11V19C11 19.5523 11.4477 20 12 20C12.5523 20 13 19.5523 13 19V13H19C19.5523 13 20 12.5523 20 12C20 11.4477 19.5523 11 19 11H13V5Z"
						fill="white"
					/>
				</svg>
			</button>
			<nav class="menu">
				<ul class="menu__list">
					<li class="menu__item menu__item-active">
						<a href="#" class="menu__link">Рабочий стол</a>
					</li>
					<li class="menu__item"><a href="#" class="menu__link">Сделки</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Задачи</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Проекты</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Контакты</a></li>
					<li class="menu__item"><a href="#" class="menu__link">Компании</a></li>
				</ul>
				<button class="menu__dropdown">
					<svg
						width="24"
						height="24"
						viewBox="0 0 24 24"
						fill="none"
						xmlns="http://www.w3.org/2000/svg"
					>
						<path
							fill-rule="evenodd"
							clip-rule="evenodd"
							d="M5 10C3.89543 10 3 10.8954 3 12C3 13.1046 3.89543 14 5 14C6.10457 14 7 13.1046 7 12C7 10.8954 6.10457 10 5 10ZM10 12C10 10.8954 10.8954 10 12 10C13.1046 10 14 10.8954 14 12C14 13.1046 13.1046 14 12 14C10.8954 14 10 13.1046 10 12ZM17 12C17 10.8954 17.8954 10 19 10C20.1046 10 21 10.8954 21 12C21 13.1046 20.1046 14 19 14C17.8954 14 17 13.1046 17 12Z"
							fill="#FFFFFF"
						/>
					</svg>
				</button>
				<!-- <ul class="dropdown">
					<li><a href="#">Календарь</a></li>
					<li><a href="#">Услуги</a></li>
					<li><a href="#">Финансы</a></li>
					<li><a href="#">Документы</a></li>
					<li><a href="#">Сотрудники</a></li>
					<li><a href="#">Медиафайлы</a></li>
					<div class="divide"></div>
					<li>
						<a href="#"><img src="" alt="settings" class="dropdown__icon" />Настроить меню</a>
					</li>
				</ul> -->
			</nav>
		</header>
		<aside>
			<div class="avatar">
				<span>B</span>
			</div>
			<div class="aside-menu">
				<ul class="aside-menu__list">
					<li class="aside-menu__item"><a href="#" class="aside-menu__link"></a></li>
					<li class="aside-menu__item"><a href="#" class="aside-menu__link"></a></li>
					<li class="aside-menu__item"><a href="#" class="aside-menu__link"></a></li>
					<li class="aside-menu__item"><a href="#" class="aside-menu__link"></a></li>
					<li class="aside-menu__item"><a href="#" class="aside-menu__link"></a></li>
					<li class="aside-menu__item"><a href="#" class="aside-menu__link"></a></li>
				</ul>
			</div>
		</aside>
		<main></main>
		<footer></footer>
		<script src="./bundle.js"></script>
	</body>
</html>
