// Colors
$white: #fff;
$dark001: #7f8fa4;
$dark002: #516173;
$dark003: #354052;
$dark004: #273142;
$light001: #ecf6ff;
$light002: #eff3f6;
$light003: #e9edf1;
$light004: #dfe3e9;
$light005: #c2cad4;
$secondary004: #ff3031;
$secondary007: #ffb300;
$primary: #1f8efa;
$grad_sec001: linear-gradient(180deg, #eff3f6 0%, #dfe3e9 100%);
$grad_sec005: linear-gradient(0deg, #ffb300 0%, #fecf4b 100%);
$grad_pr001: linear-gradient(180deg, #3a9eff 0%, #1f8efa 100%);
$grad_pr003: linear-gradient(0deg, #3a9eff -251.25%, #ecf6ff 50%);
$orange: #fd8900;

// Values
$height_bar: 56px;
$shadow_svg: drop-shadow(0 1px 0 rgba(0, 0, 0, 0.15));
