@import "variables.scss";

footer {
	height: calc(#{$height_bar}/ 2);
	background-color: $light003;
	grid-area: footer;
	display: flex;
	justify-content: flex-end;
	padding: 6px 0;

	.copyright {
		font-weight: 400;
		font-size: 13px;
		line-height: 120%;
		color: $dark001;
		display: flex;
		position: relative;
		padding-right: 16px;

		span {
			&:first-child {
				border-right: 1px solid $light004;
				padding-right: 8px;
			}
			&:last-child {
				padding-left: 8px;
			}
		}
	}
}
