@import "variables.scss";

// Календарь
.calendar {
	width: auto;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	background-color: $white;
	box-shadow: $shadow_8dp;
	border-radius: 4px;
	display: none;
	z-index: 10;

	&__headers {
		height: $height_bar;
		display: flex;
		position: relative;
		gap: 20px;
		padding: 8px 48px 8px 16px;

		border-bottom: 2px solid $light004;
	}
	&__header {
		padding: 12px 4px;
		position: relative;
		display: flex;
		align-items: center;
		cursor: pointer;

		span {
			margin-left: 6px;
			font-weight: 500;
			font-size: 16px;
			color: $dark002;
		}

		svg,
		path {
			fill: $dark002;
		}

		&:hover {
			span {
				color: $dark003;
			}

			svg,
			path {
				fill: $dark003;
			}

			&::after {
				content: "";
				position: absolute;
				box-sizing: border-box;
				top: calc(#{$height_bar} - 10px);
				width: 100%;
				left: 0;
				bottom: 0;
				border-bottom: 2px solid $primary003;
			}
		}

		&-active {
			span {
				color: $dark003;
			}

			svg,
			path {
				fill: $dark003;
			}
			&::after {
				content: "";
				position: absolute;
				box-sizing: border-box;
				top: calc(#{$height_bar} - 10px);
				width: 100%;
				left: 0;
				bottom: 0;
				border-bottom: 2px solid $primary003;
			}
		}
	}

	&__close {
		position: absolute;
		top: 16px;
		right: 16px;
		background: $light004;
		width: 24px;
		height: 24px;
		border-radius: 50%;

		svg {
			position: relative;
			left: -2px;
			bottom: -2px;
		}
	}

	&__dates {
		padding: 16px 16px 0 16px;
	}
	&__content {
		display: flex;
	}
	&__month {
		flex: 1;
	}
	&__duration {
		padding: 16px 0;
	}
	&__buttons {
		padding: 16px;
		border-top: 1px solid $light004;
		line-height: 115%;
		font-weight: 500;
		font-size: 14px;
	}

	&__apply {
		background-color: $primary003;
		border-radius: 4px;
		padding: 10px 12px;
		color: $white;
		text-shadow: 0 1px 0 rgba(28, 28, 28, 0.1);
	}

	&__reset {
		padding: 10px 12px;
		color: $dark002;
	}
}

.month {
	display: flex;
	flex-direction: column;
	gap: 8px;
	&-left {
		padding-right: 8px;
		.month__title {
			order: 1;
		}
	}
	&-right {
		padding-left: 8px;
	}
	&__head {
		display: flex;
		gap: 8px;
	}
	&__title {
		flex: 1;
		text-align: center;
		font-weight: 400;
		font-size: 16px;
		color: $dark003;
	}
	&__move {
		cursor: pointer;
		&:hover {
			svg {
				path {
					fill: $dark004;
				}
			}
		}
	}

	&__content {
		display: flex;
		flex-direction: column;
		gap: 4px;
	}
	&__days {
		&-headers {
			margin-bottom: 4px;
		}
	}
}

.days {
	display: flex;
	gap: 4px;
	&__header,
	&__number {
		display: block;
		width: 32px;
		height: 32px;
		line-height: 32px;
		text-align: center;
		cursor: pointer;
	}

	&__header {
		font-weight: 400;
		font-size: 14px;
		color: $dark001;
	}

	&__number {
		font-weight: 500;
		font-size: 14px;
		color: $dark002;
		&-disabled {
			color: $light005;
		}
		&-start {
			background-color: $bg_primary;
			color: $primary003;
			border-radius: 50%;
		}
		&-end {
			background-color: $primary003;
			color: $white;
			border-radius: 50%;
		}
		&-duration {
			background-color: $bg_primary;
			&-start {
				background-color: $primary003;
				color: $white;
				border-radius: 50% 0 0 50%;
			}
			&-end {
				background-color: $primary003;
				color: $white;
				border-radius: 0 50% 50% 0;
			}
		}
	}
}

.duration {
	display: flex;
	margin-top: 16px;
	border-top: 1px solid $light004;
	gap: 8px;
	align-items: center;

	&__delete {
		padding: 0;
		display: flex;
		align-items: center;
	}

	&__weekday {
		font-weight: 400;
		font-size: 16px;
		color: $dark001;
	}

	&__monthday {
		font-weight: 500;
		font-size: 16px;
		color: $dark003;
	}

	// &__arrow {
	// }

	&__count {
		background-color: $bg_primary;
		border-radius: 3px;
		color: $primary003;
		font-weight: 500;
		font-size: 13px;
		padding: 2px 4px;
	}
}

// Мои дела (aside menu)
.aside-tasks {
	width: 360px;
	height: 100vh;
	position: fixed;
	top: 0;
	right: $height_bar;
	background-color: $white;
	box-shadow: $shadow_8dp;
	border-radius: 16px 0px 0px 16px;
	overflow: hidden;
	justify-content: center;
	align-items: center;
	z-index: 10;
	display: none;

	&__search {
		padding: 16px 16px 0 16px;
	}

	.popup-header {
		height: calc(#{$height_bar} + 36px);
	}

	.menu {
		&__item {
			padding: 10px 4px;
			font-weight: 500;
			font-size: 14px;
			color: $dark002;
			cursor: pointer;
			&-active {
				color: $dark003;
				&::after {
					top: calc(#{$height_bar} - 21px);
				}
			}

			&:hover {
				color: $dark003;
				&::after {
					top: calc(#{$height_bar} - 21px);
				}
			}
		}
	}

	.search {
		display: flex;
		&__input {
			border: 1px solid $light004;
			border-radius: 4px;
		}
	}
}

.popup-header {
	height: $height_bar;
	background-color: $light002;
	display: flex;
	flex-direction: column;
	position: relative;
	&__title {
		height: $height_bar;
		font-weight: 500;
		font-size: 18px;
		color: $dark004;
		flex: 1;
		padding: 19px 44px 19px 16px;
	}
	&__menu {
		height: 36px;
		padding: 0 16px;
		margin-left: 0;
		border-bottom: 2px solid $light004;
	}
	&__close {
		position: absolute;
		width: 24px;
		height: 24px;
		top: 20px;
		right: 16px;

		svg {
			position: relative;
			transform: scale(1.15);
			right: 4px;
			top: 1px;
			path {
				fill: $dark002;
			}
		}
	}
}

.group {
	padding: 16px 16px 0 16px;
	&__title {
		font-weight: 700;
		font-size: 14px;
		color: $light005;
		position: relative;
		span {
			background-color: $white;
			padding-right: 8px;
			position: relative;
			z-index: 2;
		}

		&::before {
			content: "";
			position: absolute;
			width: 95%;
			border: 1px solid $light004;
			top: 50%;
			right: 0;
			z-index: 1;
		}
	}
	&__task {
		display: flex;
		justify-content: space-between;
		padding: 16px 0;
		border-bottom: 1px solid $light004;
		&-header {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			gap: 4px;
		}
		&:last-child {
			padding-bottom: 0;
			border-bottom: none;
		}

		&-name {
			display: flex;
			align-items: center;
			cursor: pointer;

			span {
				padding-left: 8px;
				font-weight: 500;
				font-size: 14px;
				color: $dark003;
			}
		}
		&-icon {
			width: 20px;
			height: 20px;
			border-radius: 3px;

			svg {
				filter: $shadow_svg;
				position: relative;
				top: 3px;
				left: 3px;
			}

			&-timer {
				background: $grad_sec005;

				svg {
					top: 2px;
				}
			}

			&-check {
				background: $grad_pr001;
			}
		}
		&-type {
			cursor: pointer;
			span {
				font-weight: 500;
				font-size: 13px;
				color: $dark003;
				position: relative;
				&::after {
					content: "";
					position: absolute;
					width: 100%;
					border-bottom: 1px solid $dark001;
					left: 0;
					bottom: 0;
				}
			}
		}
		&-info {
			display: flex;
			flex-direction: column;
			gap: 6px;
		}
		&-priorities {
			display: flex;
			justify-content: flex-end;
		}
		&-priority {
			display: flex;
			align-items: center;
		}
		&-status {
			background-color: $light003;
			color: $dark002;
			font-weight: 500;
			font-size: 13px;
			line-height: 120%;
			padding: 2px 4px;
			border-radius: 3px;
			margin-left: 8px;
			&-active {
				background-color: $bg_primary;
				color: $primary003;
			}
		}

		&-deadline {
			font-weight: 400;
			font-size: 12px;
			color: $secondary004;
			text-align: right;
			line-height: 16px;
		}
	}
}

// Пользователь (aside menu)
.aside-user {
	width: 240px;
	height: auto;
	position: fixed;
	top: 0;
	right: $height_bar;
	background-color: $white;
	box-shadow: $shadow_8dp;
	border-radius: 16px 0px 0px 16px;
	overflow: hidden;
	display: none;
	z-index: 10;

	&__profile {
		height: $height_bar;
		padding: 12px 16px;
		border-bottom: 2px solid $light004;
		&::before,
		&::after {
			content: "";
			position: absolute;
			border-radius: 50%;
			right: 18px;
			top: 18px;
		}

		&::before {
			width: 14px;
			height: 14px;
			background-color: $white;
			border: 1px solid $light004;
		}

		&::after {
			width: 12px;
			height: 12px;
			top: 20px;
			right: 20px;
		}
		&-active {
			&::after {
				background-color: $secondary001;
			}
		}

		&-name {
			font-weight: 700;
			font-size: 14px;
			color: $dark003;
		}

		&-prof {
			font-weight: 400;
			font-size: 12px;
			color: $dark001;
		}
	}

	&__time {
		height: $height_bar;
		background-color: $light002;
		padding: 10px 16px;
		&-wrapper {
			display: flex;
			align-items: center;
			gap: 8px;
			font-weight: 700;
			font-size: 16px;
			margin-left: 8px;
			padding-left: 8px;
			border-left: 1px solid $light004;
		}
		&-weekday {
			color: $primary003;
		}
		&-daytime {
			color: $dark003;
		}
	}

	&__buttons {
		display: flex;
		flex-direction: column;
		padding: 8px 0;

		&-profile,
		&-logout {
			display: flex;
			justify-content: flex-start;
			align-items: center;
			padding: 10px 16px;

			span {
				margin-left: 6px;
				font-weight: 500;
				font-size: 14px;
				color: $dark003;
			}

			&:hover {
				background-color: $bg_primary;

				span {
					color: $primary003;
				}

				svg {
					path {
						fill: $primary003;
					}
				}
			}
		}
	}
}

.timer {
	display: flex;
	&-wrapper {
		display: flex;
		align-items: center;
		gap: 4px;
	}
	&__digits {
		font-family: "Golos Text";
		font-weight: 400;
		font-size: 18px;
		color: $dark002;
		letter-spacing: 0.02em;
	}
	&__play {
		width: 24px;
		height: 24px;
		background-color: $primary003;
		border-radius: 50%;

		svg {
			position: relative;
			left: -2px;
			top: 2px;
			filter: $shadow_svg;
		}
	}
}

// Помощь (aside menu)
.aside-help {
	width: 320px;
	height: auto;
	bottom: 0;
	right: $height_bar;
	position: fixed;
	background-color: $white;
	filter: $shadow_16dp;
	border-radius: 16px;
	overflow: hidden;
	z-index: 10;
	display: none;

	.popup-header {
		&__close {
			svg {
				transform: none;
				top: -1px;
			}
		}
	}

	&__content {
		padding: 0 16px;
	}

	&__group {
		padding: 16px 0;
	}

	&__social {
		width: 40px;
		height: 40px;
		border-radius: 50%;
		display: flex;
		justify-content: center;
		align-items: center;
		svg {
			filter: $shadow_svg;
		}

		&-wrapper {
			padding: 16px;
			display: flex;
			gap: 8px;
			border-top: 2px solid $light004;
		}

		&-vk {
			background-color: $primary003;
		}
		&-inst {
			background-color: $secondary005;
		}
		&-tg {
			background-color: $primary001;
		}
		&-yt {
			background-color: $secondary004;
		}
	}
}

.help-group {
	display: flex;
	flex-direction: column;
	gap: 16px;
	&__title {
		text-transform: uppercase;
		font-weight: 700;
		font-size: 12px;
		color: $dark001;
	}
	&__list {
		&-item {
			display: flex;
			align-items: center;
			cursor: pointer;

			span {
				font-weight: 500;
				font-size: 14px;
				color: $dark003;
				margin-left: 8px;
			}

			svg {
				path {
					fill: $dark001;
				}
			}

			&:hover {
				span {
					color: $primary003;
				}

				svg {
					path {
						fill: $primary003;
					}
				}
			}
		}
	}

	&:not(.help-group:first-child) {
		border-top: 1px solid $light004;
	}
}

// Окно предупреждения
.warning {
	width: 450px;
	height: auto;
	position: relative;
	background-color: $white;
	filter: $shadow_16dp;
	border-radius: 16px;
	padding: 24px;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 16px;
	&-popup {
		position: fixed;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		width: 100vw;
		height: 100vh;
		// display: flex;
		background-color: rgba(28, 28, 28, 0.5);
		display: none;
		justify-content: center;
		align-items: center;
		z-index: 11;
	}
	&__title,
	&__text {
		text-align: center;
	}

	&__title {
		font-weight: 700;
		font-size: 24px;
		color: $dark004;
	}

	&__text {
		font-weight: 400;
		font-size: 14px;
		color: $dark001;
	}
	&__buttons {
		padding-top: 8px;
		display: flex;
		align-items: center;
		gap: 8px;
	}
	&__button {
		padding: 12px;
		font-size: 14px;
		font-weight: 700;
		border-radius: 4px;
		color: $dark003;
		text-transform: uppercase;
		cursor: pointer;
	}
	&__button-allow {
		background-color: $primary003;
		color: $white;
		text-shadow: 0 1px 0 rgba(28, 28, 28, 0.1);
	}
	&__button-return {
		border: 1px solid $light004;
	}
}

// Выпадающие списки
.dropdown {
	width: 200px;
	height: auto;
	position: fixed;
	background-color: $white;
	box-shadow: $shadow_8dp;
	border: 1px solid $light004;
	border-radius: 4px;
	padding: 0;
	overflow: hidden;
	display: none;
	z-index: 10;
	flex-direction: column;

	&__list {
		display: flex;
		flex-direction: column;
		padding: 8px 0;
	}

	&__extra {
		border-top: 2px solid $light004;
		padding: 8px 0;
	}

	&__list,
	&__extra {
		&-item {
			display: flex;
			align-items: center;
			padding: 10px 16px;
			font-weight: 500;
			font-size: 14px;
			color: $dark003;
			cursor: pointer;
			span {
				margin-left: 6px;
			}

			svg {
				path {
					fill: $dark001;
				}
			}

			&:hover {
				background-color: $bg_primary;
				color: $primary003;

				svg {
					path {
						fill: $primary003;
					}
				}
			}
		}
	}
}

.mini-dropdown {
	width: auto;
}

// Подсказка
.text-popup {
	width: auto;
	height: auto;
	position: fixed;
	padding: 0;
	overflow: hidden;
	display: none;
	opacity: 0.9;
	z-index: 1;
	flex-direction: column;
	align-items: center;

	&-span {
		background-color: $dark004;
		border-radius: 4px;
		font-weight: 400;
		font-size: 13px;
		line-height: 120%;
		color: $white;
		padding: 5px 8px;
	}
}
